parameters:
	ignoreErrors:
		-
			message: "#^Call to an undefined method Igniter\\\\PayRegister\\\\Classes\\\\AuthorizeNetClient\\:\\:getErrorMessageFromResponse\\(\\)\\.$#"
			count: 2
			path: src/Classes/AuthorizeNetClient.php

		-
			message: "#^Call to an undefined method Igniter\\\\PayRegister\\\\Classes\\\\AuthorizeNetClient\\:\\:isTestMode\\(\\)\\.$#"
			count: 1
			path: src/Classes/AuthorizeNetClient.php

		-
			message: "#^Call to an undefined method net\\\\authorize\\\\api\\\\contract\\\\v1\\\\ANetApiResponseType\\:\\:getTransactionResponse\\(\\)\\.$#"
			count: 1
			path: src/Classes/AuthorizeNetClient.php

		-
			message: "#^Access to an undefined property Igniter\\\\Cart\\\\Models\\\\Order\\:\\:\\$order_total\\.$#"
			count: 1
			path: src/Classes/BasePaymentGateway.php

		-
			message: "#^Access to an undefined property Igniter\\\\Cart\\\\Models\\\\Order\\:\\:\\$payment_method\\.$#"
			count: 1
			path: src/Classes/BasePaymentGateway.php

		-
			message: "#^Access to an undefined property Igniter\\\\Flame\\\\Database\\\\Model\\:\\:\\$class_name\\.$#"
			count: 2
			path: src/Classes/BasePaymentGateway.php

		-
			message: "#^Access to an undefined property Igniter\\\\Flame\\\\Database\\\\Model\\:\\:\\$code\\.$#"
			count: 3
			path: src/Classes/BasePaymentGateway.php

		-
			message: "#^Access to an undefined property Igniter\\\\Flame\\\\Database\\\\Model\\:\\:\\$name\\.$#"
			count: 1
			path: src/Classes/BasePaymentGateway.php

		-
			message: "#^Access to an undefined property Igniter\\\\Flame\\\\Database\\\\Model\\:\\:\\$order_fee\\.$#"
			count: 2
			path: src/Classes/BasePaymentGateway.php

		-
			message: "#^Access to an undefined property Igniter\\\\Flame\\\\Database\\\\Model\\:\\:\\$order_fee_type\\.$#"
			count: 1
			path: src/Classes/BasePaymentGateway.php

		-
			message: "#^Access to an undefined property Igniter\\\\Flame\\\\Database\\\\Model\\:\\:\\$order_total\\.$#"
			count: 2
			path: src/Classes/BasePaymentGateway.php

		-
			message: "#^Call to an undefined static method Igniter\\\\Flame\\\\Support\\\\Facades\\\\File\\:\\:normalizePath\\(\\)\\.$#"
			count: 1
			path: src/Classes/BasePaymentGateway.php

		-
			message: "#^Method Igniter\\\\PayRegister\\\\Classes\\\\BasePaymentGateway\\:\\:initialize\\(\\) should return array but return statement is missing\\.$#"
			count: 1
			path: src/Classes/BasePaymentGateway.php

		-
			message: "#^Access to an undefined property Igniter\\\\PayRegister\\\\Classes\\\\PayPalClient\\:\\:\\$config\\.$#"
			count: 1
			path: src/Classes/PayPalClient.php

		-
			message: "#^Call to an undefined method Illuminate\\\\Contracts\\\\View\\\\Factory\\:\\:getFinder\\(\\)\\.$#"
			count: 1
			path: src/Classes/PaymentGateways.php

		-
			message: "#^Call to an undefined static method Igniter\\\\Flame\\\\Support\\\\Facades\\\\File\\:\\:isDirectory\\(\\)\\.$#"
			count: 1
			path: src/Classes/PaymentGateways.php

		-
			message: "#^Call to an undefined static method Igniter\\\\Flame\\\\Support\\\\Facades\\\\File\\:\\:makeDirectory\\(\\)\\.$#"
			count: 1
			path: src/Classes/PaymentGateways.php

		-
			message: "#^Call to an undefined static method Igniter\\\\Flame\\\\Support\\\\Facades\\\\File\\:\\:put\\(\\)\\.$#"
			count: 1
			path: src/Classes/PaymentGateways.php

		-
			message: "#^Call to an undefined static method Igniter\\\\PayRegister\\\\Models\\\\Payment\\:\\:whereIsEnabled\\(\\)\\.$#"
			count: 1
			path: src/Classes/PaymentGateways.php

		-
			message: "#^Access to an undefined property Igniter\\\\Admin\\\\Classes\\\\BaseWidget\\:\\:\\$previewMode\\.$#"
			count: 1
			path: src/FormWidgets/PaymentAttempts.php

		-
			message: "#^Access to an undefined property Igniter\\\\Flame\\\\Database\\\\Model\\:\\:\\$payment_method\\.$#"
			count: 1
			path: src/FormWidgets/PaymentAttempts.php

		-
			message: "#^Call to an undefined static method Igniter\\\\PayRegister\\\\Models\\\\PaymentLog\\:\\:find\\(\\)\\.$#"
			count: 2
			path: src/FormWidgets/PaymentAttempts.php

		-
			message: "#^Call to an undefined method Igniter\\\\PayRegister\\\\Http\\\\Controllers\\\\Payments\\:\\:formCreateModelObject\\(\\)\\.$#"
			count: 1
			path: src/Http/Controllers/Payments.php

		-
			message: "#^Call to an undefined method Igniter\\\\PayRegister\\\\Http\\\\Controllers\\\\Payments\\:\\:formExtendQuery\\(\\)\\.$#"
			count: 1
			path: src/Http/Controllers/Payments.php

		-
			message: "#^Call to an undefined method Igniter\\\\PayRegister\\\\Http\\\\Controllers\\\\Payments\\:\\:refreshList\\(\\)\\.$#"
			count: 1
			path: src/Http/Controllers/Payments.php

		-
			message: "#^Call to an undefined static method Igniter\\\\Admin\\\\Facades\\\\AdminMenu\\:\\:setContext\\(\\)\\.$#"
			count: 1
			path: src/Http/Controllers/Payments.php

		-
			message: "#^Access to an undefined property Igniter\\\\Cart\\\\Models\\\\Order\\:\\:\\$payment_method\\.$#"
			count: 1
			path: src/Listeners/CaptureAuthorizedPayment.php

		-
			message: "#^Access to an undefined property Igniter\\\\Cart\\\\Models\\\\Order\\:\\:\\$payment_method\\.$#"
			count: 1
			path: src/Listeners/UpdatePaymentIntentSessionOnCheckout.php

		-
			message: "#^Call to an undefined method Igniter\\\\PayRegister\\\\Models\\\\Payment\\:\\:updatePaymentIntentSession\\(\\)\\.$#"
			count: 1
			path: src/Listeners/UpdatePaymentIntentSessionOnCheckout.php

		-
			message: "#^Access to an undefined property Igniter\\\\PayRegister\\\\Models\\\\Payment\\:\\:\\$data\\.$#"
			count: 2
			path: src/Models/Observers/PaymentObserver.php

		-
			message: "#^Access to an undefined property Igniter\\\\PayRegister\\\\Models\\\\Payment\\:\\:\\$class_name\\.$#"
			count: 4
			path: src/Models/Payment.php

		-
			message: "#^Access to an undefined property Igniter\\\\PayRegister\\\\Models\\\\Payment\\:\\:\\$gatewayManager\\.$#"
			count: 1
			path: src/Models/Payment.php

		-
			message: "#^Access to an undefined property Igniter\\\\PayRegister\\\\Models\\\\Payment\\:\\:\\$model\\.$#"
			count: 1
			path: src/Models/Payment.php

		-
			message: "#^Access to an undefined property Igniter\\\\PayRegister\\\\Models\\\\Payment\\:\\:\\$payment_id\\.$#"
			count: 2
			path: src/Models/Payment.php

		-
			message: "#^Access to an undefined property Igniter\\\\PayRegister\\\\Models\\\\PaymentProfile\\:\\:\\$customer_id\\.$#"
			count: 1
			path: src/Models/Payment.php

		-
			message: "#^Access to an undefined property Igniter\\\\PayRegister\\\\Models\\\\PaymentProfile\\:\\:\\$payment_id\\.$#"
			count: 1
			path: src/Models/Payment.php

		-
			message: "#^Access to an undefined property Igniter\\\\User\\\\Models\\\\Customer\\:\\:\\$customer_id\\.$#"
			count: 2
			path: src/Models/Payment.php

		-
			message: "#^Call to an undefined method Igniter\\\\PayRegister\\\\Models\\\\Payment\\:\\:beforeRenderPaymentForm\\(\\)\\.$#"
			count: 1
			path: src/Models/Payment.php

		-
			message: "#^Call to an undefined method Igniter\\\\PayRegister\\\\Models\\\\Payment\\:\\:getConfigFields\\(\\)\\.$#"
			count: 1
			path: src/Models/Payment.php

		-
			message: "#^Call to an undefined method Igniter\\\\PayRegister\\\\Models\\\\Payment\\:\\:getPaymentFormViewName\\(\\)\\.$#"
			count: 1
			path: src/Models/Payment.php

		-
			message: "#^Call to an undefined method Igniter\\\\PayRegister\\\\Models\\\\Payment\\:\\:whereIsEnabled\\(\\)\\.$#"
			count: 1
			path: src/Models/Payment.php

		-
			message: "#^Call to an undefined method Illuminate\\\\Database\\\\Eloquent\\\\Model\\:\\:applyGatewayClass\\(\\)\\.$#"
			count: 1
			path: src/Models/Payment.php

		-
			message: "#^Call to an undefined static method Igniter\\\\PayRegister\\\\Models\\\\Payment\\:\\:pluck\\(\\)\\.$#"
			count: 1
			path: src/Models/Payment.php

		-
			message: "#^Call to an undefined static method Igniter\\\\PayRegister\\\\Models\\\\Payment\\:\\:select\\(\\)\\.$#"
			count: 1
			path: src/Models/Payment.php

		-
			message: "#^Call to an undefined static method Igniter\\\\PayRegister\\\\Models\\\\Payment\\:\\:whereIsEnabled\\(\\)\\.$#"
			count: 2
			path: src/Models/Payment.php

		-
			message: "#^Access to an undefined property Igniter\\\\PayRegister\\\\Models\\\\PaymentLog\\:\\:\\$created_at\\.$#"
			count: 1
			path: src/Models/PaymentLog.php

		-
			message: "#^Access to an undefined property Igniter\\\\PayRegister\\\\Models\\\\PaymentLog\\:\\:\\$is_refundable\\.$#"
			count: 1
			path: src/Models/PaymentLog.php

		-
			message: "#^Access to an undefined property Igniter\\\\PayRegister\\\\Models\\\\PaymentLog\\:\\:\\$is_success\\.$#"
			count: 1
			path: src/Models/PaymentLog.php

		-
			message: "#^Access to an undefined property Igniter\\\\PayRegister\\\\Models\\\\PaymentLog\\:\\:\\$message\\.$#"
			count: 1
			path: src/Models/PaymentLog.php

		-
			message: "#^Access to an undefined property Igniter\\\\PayRegister\\\\Models\\\\PaymentLog\\:\\:\\$order_id\\.$#"
			count: 1
			path: src/Models/PaymentLog.php

		-
			message: "#^Access to an undefined property Igniter\\\\PayRegister\\\\Models\\\\PaymentLog\\:\\:\\$payment_code\\.$#"
			count: 1
			path: src/Models/PaymentLog.php

		-
			message: "#^Access to an undefined property Igniter\\\\PayRegister\\\\Models\\\\PaymentLog\\:\\:\\$payment_name\\.$#"
			count: 1
			path: src/Models/PaymentLog.php

		-
			message: "#^Access to an undefined property Igniter\\\\PayRegister\\\\Models\\\\PaymentLog\\:\\:\\$refunded_at\\.$#"
			count: 1
			path: src/Models/PaymentLog.php

		-
			message: "#^Access to an undefined property Igniter\\\\PayRegister\\\\Models\\\\PaymentLog\\:\\:\\$request\\.$#"
			count: 1
			path: src/Models/PaymentLog.php

		-
			message: "#^Access to an undefined property Igniter\\\\PayRegister\\\\Models\\\\PaymentLog\\:\\:\\$response\\.$#"
			count: 1
			path: src/Models/PaymentLog.php

		-
			message: "#^Unsafe usage of new static\\(\\)\\.$#"
			count: 1
			path: src/Models/PaymentLog.php

		-
			message: "#^Access to an undefined property Igniter\\\\PayRegister\\\\Models\\\\PaymentProfile\\:\\:\\$customer_id\\.$#"
			count: 2
			path: src/Models/PaymentProfile.php

		-
			message: "#^Access to an undefined property Igniter\\\\PayRegister\\\\Models\\\\PaymentProfile\\:\\:\\$is_primary\\.$#"
			count: 1
			path: src/Models/PaymentProfile.php

		-
			message: "#^Access to an undefined property Igniter\\\\PayRegister\\\\Models\\\\PaymentProfile\\:\\:\\$payment_profile_id\\.$#"
			count: 1
			path: src/Models/PaymentProfile.php

		-
			message: "#^Access to an undefined property Igniter\\\\PayRegister\\\\Models\\\\PaymentProfile\\:\\:\\$profile_data\\.$#"
			count: 2
			path: src/Models/PaymentProfile.php

		-
			message: "#^Call to an undefined static method Igniter\\\\PayRegister\\\\Models\\\\PaymentProfile\\:\\:applyCustomer\\(\\)\\.$#"
			count: 2
			path: src/Models/PaymentProfile.php

		-
			message: "#^Access to an undefined property Igniter\\\\Cart\\\\Models\\\\Order\\:\\:\\$hash\\.$#"
			count: 3
			path: src/Payments/AuthorizeNetAim.php

		-
			message: "#^Access to an undefined property Igniter\\\\Cart\\\\Models\\\\Order\\:\\:\\$status_id\\.$#"
			count: 1
			path: src/Payments/AuthorizeNetAim.php

		-
			message: "#^Access to an undefined property Igniter\\\\Flame\\\\Database\\\\Model\\:\\:\\$api_login_id\\.$#"
			count: 1
			path: src/Payments/AuthorizeNetAim.php

		-
			message: "#^Access to an undefined property Igniter\\\\Flame\\\\Database\\\\Model\\:\\:\\$capture_status\\.$#"
			count: 1
			path: src/Payments/AuthorizeNetAim.php

		-
			message: "#^Access to an undefined property Igniter\\\\Flame\\\\Database\\\\Model\\:\\:\\$client_key\\.$#"
			count: 1
			path: src/Payments/AuthorizeNetAim.php

		-
			message: "#^Access to an undefined property Igniter\\\\Flame\\\\Database\\\\Model\\:\\:\\$transaction_key\\.$#"
			count: 1
			path: src/Payments/AuthorizeNetAim.php

		-
			message: "#^Access to an undefined property Igniter\\\\Flame\\\\Database\\\\Model\\:\\:\\$transaction_mode\\.$#"
			count: 1
			path: src/Payments/AuthorizeNetAim.php

		-
			message: "#^Access to an undefined property Igniter\\\\Flame\\\\Database\\\\Model\\:\\:\\$transaction_type\\.$#"
			count: 1
			path: src/Payments/AuthorizeNetAim.php

		-
			message: "#^Access to an undefined property Igniter\\\\PayRegister\\\\Models\\\\Payment\\:\\:\\$order_status\\.$#"
			count: 1
			path: src/Payments/AuthorizeNetAim.php

		-
			message: "#^Access to an undefined property Igniter\\\\PayRegister\\\\Models\\\\PaymentLog\\:\\:\\$is_refundable\\.$#"
			count: 1
			path: src/Payments/AuthorizeNetAim.php

		-
			message: "#^Call to an undefined method Igniter\\\\Cart\\\\Models\\\\Order\\:\\:payment_logs\\(\\)\\.$#"
			count: 1
			path: src/Payments/AuthorizeNetAim.php

		-
			message: "#^Access to an undefined property Igniter\\\\PayRegister\\\\Models\\\\Payment\\:\\:\\$order_status\\.$#"
			count: 1
			path: src/Payments/Cod.php

		-
			message: "#^Access to an undefined property Igniter\\\\Cart\\\\Models\\\\Order\\:\\:\\$customer\\.$#"
			count: 1
			path: src/Payments/Mollie.php

		-
			message: "#^Access to an undefined property Igniter\\\\Flame\\\\Database\\\\Model\\:\\:\\$live_api_key\\.$#"
			count: 1
			path: src/Payments/Mollie.php

		-
			message: "#^Access to an undefined property Igniter\\\\Flame\\\\Database\\\\Model\\:\\:\\$test_api_key\\.$#"
			count: 1
			path: src/Payments/Mollie.php

		-
			message: "#^Access to an undefined property Igniter\\\\Flame\\\\Database\\\\Model\\:\\:\\$transaction_mode\\.$#"
			count: 1
			path: src/Payments/Mollie.php

		-
			message: "#^Access to an undefined property Igniter\\\\PayRegister\\\\Models\\\\PaymentLog\\:\\:\\$is_refundable\\.$#"
			count: 1
			path: src/Payments/Mollie.php

		-
			message: "#^Call to an undefined method Igniter\\\\Flame\\\\Database\\\\Model\\:\\:findPaymentProfile\\(\\)\\.$#"
			count: 1
			path: src/Payments/Mollie.php

		-
			message: "#^Call to an undefined method Igniter\\\\Flame\\\\Database\\\\Model\\:\\:initPaymentProfile\\(\\)\\.$#"
			count: 1
			path: src/Payments/Mollie.php

		-
			message: "#^Call to an undefined method Mollie\\\\Api\\\\Resources\\\\Payment\\:\\:getMessage\\(\\)\\.$#"
			count: 1
			path: src/Payments/Mollie.php

		-
			message: "#^Method Igniter\\\\PayRegister\\\\Payments\\\\Mollie\\:\\:processPaymentForm\\(\\) should return bool\\|Illuminate\\\\Http\\\\RedirectResponse but return statement is missing\\.$#"
			count: 1
			path: src/Payments/Mollie.php

		-
			message: "#^Access to an undefined property Igniter\\\\Cart\\\\Models\\\\OrderMenu\\:\\:\\$name\\.$#"
			count: 1
			path: src/Payments/PaypalExpress.php

		-
			message: "#^Access to an undefined property Igniter\\\\Cart\\\\Models\\\\OrderMenu\\:\\:\\$price\\.$#"
			count: 1
			path: src/Payments/PaypalExpress.php

		-
			message: "#^Access to an undefined property Igniter\\\\Cart\\\\Models\\\\OrderMenu\\:\\:\\$quantity\\.$#"
			count: 1
			path: src/Payments/PaypalExpress.php

		-
			message: "#^Access to an undefined property Igniter\\\\Flame\\\\Database\\\\Model\\:\\:\\$api_action\\.$#"
			count: 1
			path: src/Payments/PaypalExpress.php

		-
			message: "#^Access to an undefined property Igniter\\\\Flame\\\\Database\\\\Model\\:\\:\\$api_mode\\.$#"
			count: 1
			path: src/Payments/PaypalExpress.php

		-
			message: "#^Access to an undefined property Igniter\\\\Flame\\\\Database\\\\Model\\:\\:\\$api_pass\\.$#"
			count: 1
			path: src/Payments/PaypalExpress.php

		-
			message: "#^Access to an undefined property Igniter\\\\Flame\\\\Database\\\\Model\\:\\:\\$api_sandbox_pass\\.$#"
			count: 1
			path: src/Payments/PaypalExpress.php

		-
			message: "#^Access to an undefined property Igniter\\\\Flame\\\\Database\\\\Model\\:\\:\\$api_sandbox_signature\\.$#"
			count: 1
			path: src/Payments/PaypalExpress.php

		-
			message: "#^Access to an undefined property Igniter\\\\Flame\\\\Database\\\\Model\\:\\:\\$api_sandbox_user\\.$#"
			count: 1
			path: src/Payments/PaypalExpress.php

		-
			message: "#^Access to an undefined property Igniter\\\\Flame\\\\Database\\\\Model\\:\\:\\$api_signature\\.$#"
			count: 1
			path: src/Payments/PaypalExpress.php

		-
			message: "#^Access to an undefined property Igniter\\\\Flame\\\\Database\\\\Model\\:\\:\\$api_user\\.$#"
			count: 1
			path: src/Payments/PaypalExpress.php

		-
			message: "#^Access to an undefined property Igniter\\\\PayRegister\\\\Models\\\\PaymentLog\\:\\:\\$is_refundable\\.$#"
			count: 1
			path: src/Payments/PaypalExpress.php

		-
			message: "#^Access to an undefined property Igniter\\\\Cart\\\\Models\\\\Order\\:\\:\\$customer\\.$#"
			count: 2
			path: src/Payments/Square.php

		-
			message: "#^Access to an undefined property Igniter\\\\Flame\\\\Database\\\\Model\\:\\:\\$live_access_token\\.$#"
			count: 1
			path: src/Payments/Square.php

		-
			message: "#^Access to an undefined property Igniter\\\\Flame\\\\Database\\\\Model\\:\\:\\$live_app_id\\.$#"
			count: 1
			path: src/Payments/Square.php

		-
			message: "#^Access to an undefined property Igniter\\\\Flame\\\\Database\\\\Model\\:\\:\\$live_location_id\\.$#"
			count: 1
			path: src/Payments/Square.php

		-
			message: "#^Access to an undefined property Igniter\\\\Flame\\\\Database\\\\Model\\:\\:\\$test_access_token\\.$#"
			count: 1
			path: src/Payments/Square.php

		-
			message: "#^Access to an undefined property Igniter\\\\Flame\\\\Database\\\\Model\\:\\:\\$test_app_id\\.$#"
			count: 1
			path: src/Payments/Square.php

		-
			message: "#^Access to an undefined property Igniter\\\\Flame\\\\Database\\\\Model\\:\\:\\$test_location_id\\.$#"
			count: 1
			path: src/Payments/Square.php

		-
			message: "#^Access to an undefined property Igniter\\\\Flame\\\\Database\\\\Model\\:\\:\\$transaction_mode\\.$#"
			count: 1
			path: src/Payments/Square.php

		-
			message: "#^Access to an undefined property Igniter\\\\PayRegister\\\\Models\\\\Payment\\:\\:\\$order_status\\.$#"
			count: 1
			path: src/Payments/Square.php

		-
			message: "#^Access to an undefined property Igniter\\\\PayRegister\\\\Models\\\\PaymentProfile\\:\\:\\$card_brand\\.$#"
			count: 1
			path: src/Payments/Square.php

		-
			message: "#^Access to an undefined property Igniter\\\\PayRegister\\\\Models\\\\PaymentProfile\\:\\:\\$card_last4\\.$#"
			count: 1
			path: src/Payments/Square.php

		-
			message: "#^Access to an undefined property Igniter\\\\PayRegister\\\\Models\\\\PaymentProfile\\:\\:\\$profile_data\\.$#"
			count: 2
			path: src/Payments/Square.php

		-
			message: "#^Call to an undefined method Igniter\\\\Flame\\\\Database\\\\Model\\:\\:findPaymentProfile\\(\\)\\.$#"
			count: 1
			path: src/Payments/Square.php

		-
			message: "#^Call to an undefined method Igniter\\\\Flame\\\\Database\\\\Model\\:\\:initPaymentProfile\\(\\)\\.$#"
			count: 1
			path: src/Payments/Square.php

		-
			message: "#^Cannot call method getCardBrand\\(\\) on array\\.$#"
			count: 1
			path: src/Payments/Square.php

		-
			message: "#^Cannot call method getLast4\\(\\) on array\\.$#"
			count: 1
			path: src/Payments/Square.php

		-
			message: "#^Class Square\\\\Models\\\\CreatePaymentRequest constructor invoked with 3 parameters, 2 required\\.$#"
			count: 1
			path: src/Payments/Square.php

		-
			message: "#^Access to an undefined property Igniter\\\\Cart\\\\Models\\\\Order\\:\\:\\$customer\\.$#"
			count: 2
			path: src/Payments/Stripe.php

		-
			message: "#^Access to an undefined property Igniter\\\\Cart\\\\Models\\\\Order\\:\\:\\$status_id\\.$#"
			count: 1
			path: src/Payments/Stripe.php

		-
			message: "#^Access to an undefined property Igniter\\\\Flame\\\\Database\\\\Model\\:\\:\\$capture_status\\.$#"
			count: 1
			path: src/Payments/Stripe.php

		-
			message: "#^Access to an undefined property Igniter\\\\Flame\\\\Database\\\\Model\\:\\:\\$code\\.$#"
			count: 2
			path: src/Payments/Stripe.php

		-
			message: "#^Access to an undefined property Igniter\\\\Flame\\\\Database\\\\Model\\:\\:\\$live_publishable_key\\.$#"
			count: 1
			path: src/Payments/Stripe.php

		-
			message: "#^Access to an undefined property Igniter\\\\Flame\\\\Database\\\\Model\\:\\:\\$live_secret_key\\.$#"
			count: 1
			path: src/Payments/Stripe.php

		-
			message: "#^Access to an undefined property Igniter\\\\Flame\\\\Database\\\\Model\\:\\:\\$live_webhook_secret\\.$#"
			count: 1
			path: src/Payments/Stripe.php

		-
			message: "#^Access to an undefined property Igniter\\\\Flame\\\\Database\\\\Model\\:\\:\\$order_status\\.$#"
			count: 1
			path: src/Payments/Stripe.php

		-
			message: "#^Access to an undefined property Igniter\\\\Flame\\\\Database\\\\Model\\:\\:\\$test_publishable_key\\.$#"
			count: 1
			path: src/Payments/Stripe.php

		-
			message: "#^Access to an undefined property Igniter\\\\Flame\\\\Database\\\\Model\\:\\:\\$test_secret_key\\.$#"
			count: 1
			path: src/Payments/Stripe.php

		-
			message: "#^Access to an undefined property Igniter\\\\Flame\\\\Database\\\\Model\\:\\:\\$test_webhook_secret\\.$#"
			count: 1
			path: src/Payments/Stripe.php

		-
			message: "#^Access to an undefined property Igniter\\\\Flame\\\\Database\\\\Model\\:\\:\\$transaction_mode\\.$#"
			count: 1
			path: src/Payments/Stripe.php

		-
			message: "#^Access to an undefined property Igniter\\\\Flame\\\\Database\\\\Model\\:\\:\\$transaction_type\\.$#"
			count: 1
			path: src/Payments/Stripe.php

		-
			message: "#^Access to an undefined property Igniter\\\\PayRegister\\\\Models\\\\Payment\\:\\:\\$order_status\\.$#"
			count: 2
			path: src/Payments/Stripe.php

		-
			message: "#^Access to an undefined property Igniter\\\\PayRegister\\\\Models\\\\PaymentLog\\:\\:\\$is_refundable\\.$#"
			count: 1
			path: src/Payments/Stripe.php

		-
			message: "#^Access to an undefined property Igniter\\\\PayRegister\\\\Models\\\\PaymentProfile\\:\\:\\$card_brand\\.$#"
			count: 1
			path: src/Payments/Stripe.php

		-
			message: "#^Access to an undefined property Igniter\\\\PayRegister\\\\Models\\\\PaymentProfile\\:\\:\\$card_last4\\.$#"
			count: 1
			path: src/Payments/Stripe.php

		-
			message: "#^Access to an undefined property Igniter\\\\PayRegister\\\\Models\\\\PaymentProfile\\:\\:\\$profile_data\\.$#"
			count: 1
			path: src/Payments/Stripe.php

		-
			message: "#^Access to an undefined property Illuminate\\\\Support\\\\Optional\\:\\:\\$client_secret\\.$#"
			count: 1
			path: src/Payments/Stripe.php

		-
			message: "#^Call to an undefined method Igniter\\\\Cart\\\\Models\\\\Order\\:\\:payment_logs\\(\\)\\.$#"
			count: 1
			path: src/Payments/Stripe.php

		-
			message: "#^Call to an undefined method Igniter\\\\Flame\\\\Database\\\\Model\\:\\:findPaymentProfile\\(\\)\\.$#"
			count: 1
			path: src/Payments/Stripe.php

		-
			message: "#^Call to an undefined method Igniter\\\\Flame\\\\Database\\\\Model\\:\\:initPaymentProfile\\(\\)\\.$#"
			count: 1
			path: src/Payments/Stripe.php

		-
			message: "#^Call to an undefined static method Igniter\\\\Cart\\\\Models\\\\Order\\:\\:find\\(\\)\\.$#"
			count: 1
			path: src/Payments/Stripe.php

		-
			message: "#^Call to an undefined static method Illuminate\\\\Support\\\\Facades\\\\Event\\:\\:fire\\(\\)\\.$#"
			count: 1
			path: src/Payments/Stripe.php

		-
			message: "#^Method Igniter\\\\PayRegister\\\\Payments\\\\Stripe\\:\\:processPaymentForm\\(\\) should return bool\\|Illuminate\\\\Http\\\\RedirectResponse but return statement is missing\\.$#"
			count: 1
			path: src/Payments/Stripe.php
